body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuadro{
    width: 30em;
    height: 30em;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;

}

.circulo{
    width: 30em;
    height: 30em;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
   border-radius: 50%;

}

.cuadradito{
    width: 22em;
    height: 22em;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;

}

.circulito{
    width: 22em;
    height: 22em;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: flex;
   border-radius: 50%;

}

